.footer {
  background-color: whitesmoke;
  padding: 3rem 1.5rem 6rem;
}

html {
  height: 100%;
  weight: 60%;
}

body {
  position: relative;
  padding-bottom: 6rem;
  min-height: 100%;
  font-family: "Crimson Text", "Georgia", serif;
  font-size: 20px;
}

.page-footer {
  position: absolute;
  bottom: 0;
  padding: 1rem;
  width: 100%;
}

.is-centered {
  display: block;
  margin: 0 auto;
}

.is-rounded {
  border-radius: 3%;
}

.hero.is-primary {
  background-color: #FF8C69;
  color: white;
}

.container {
    max-width: 1800px;
    width: 1800px;
}
.small {
    font-size: 1em;
}

small {
    font-size: .8em;
}
.title.is-3 {
    font-size: 3rem;
}

a{
    color: #FF8C69;
}

.title.is-2 {
    font-size: 2.2rem;
}
